$color_blue_normal :  rgb(1, 67, 122);
$color_blue_normal_1: rgba(1, 67, 122, 0.1);
$color_blue_normal_2: rgba(1, 67, 122, 0.2);
$color_blue_normal_3: rgba(1, 67, 122, 0.3);
$color_blue_normal_4: rgba(1, 67, 122, 0.4);
$color_blue_normal_5: rgba(1, 67, 122, 0.5);
$color_blue_normal_6: rgba(1, 67, 122, 0.6);
$color_blue_normal_7: rgba(1, 67, 122, 0.7);
$color_blue_normal_8: rgba(1, 67, 122, 0.8);
$color_blue_normal_9: rgba(1, 67, 122, 0.9);

$color_blue_light  : rgb(3, 103, 185);
$color_blue_dark   : rgb(1, 40, 71);


$color_red_light:  #ee6b6d;
$color_red_normal: #e3342f;
$color_red_dark:   #9e4446;

$paragraphe_color_primary:  #777;
$paragraphe_color_secondary:#666;
$paragraphe_color_thirtiary: rgba(0, 0, 0, 0.6);
$background_primary: rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6);


$white: #fff;
$blue: #0683bd;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$yellow: #ffed4a;
$orange: #f6993f;
$green: #15fc00;
$teal: #4cd0b5;
$cyan: #6cb2eb;
$black: #8b8b8b;

$bg_color_primary: rgba(30, 20, 168, 0.01);
$bg_color_normal:#f5f5f5;
$bg_color_secondary: #fdfdfd;

$base_font_size: "10px";
$base_line_height:"1.6";
$base_font_family: 'Nunito', sans-serif;


$max_width_primary : 160rem;
$max_width_normal : 136.6rem;
$max_width_secondary : 102.4rem;
$max_width_tertialy : 128rem;

$color_gradient: rgba(30, 20, 168, 1), #03bdef;
$color_gradient_red: #FF7345,  #FF3E7B;
$color_gradient_normal: rgba(30, 20, 168, 0.8), #0060df;
$color_gradient_double:rgba(30, 20, 168, 0.8) rgba(30, 20, 168, 0.8) #03bdef #03bdef;