.bande-passante-layout{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;

    background: $color_blue_normal;

    & div{
        background: $color_blue_dark;
        color:#fff;
        text-align:center;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 1rem 2rem 0 2rem; 
        border-right: .1rem solid #fff;
    }

    & marquee{
        padding: 1rem 0 ;
        font-size: 1.6rem;
        color:#fff;
    }
}