.register-layout{
    height: 100%;
    width: 100%;

    &--side{

        &.left-side{
            background: $color_blue_normal;
            position: relative;

            & .item{
                margin: 2rem;
                padding: 2rem;
                border-radius: 1rem;
    
                & h1{
                    font-size: 4rem;
                    color:#fff;
                    line-height: normal;
                }
    
                & span{
                    display: inline-block;
                    border-bottom: .2rem solid #fff;
                    width: 20rem;
                }
    
                & p{
                    font-size: 1.4rem;
                    color:#fff;
                    padding-top: 2rem;
                }

                & div{
                    color:#fff;
                    font-size: 1.4rem;

                    & a{
                        font-weight: 600;
                        display: inline-block;
                        padding-top: 2rem;
                        color:#fff;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &.right-side{
            position: relative;
            background: transparent;

            & .form{
                top:0;
                left:0;
                position: relative;
                margin:2rem auto;
                background: #fff;
                max-width: 60rem;
                padding:4rem 4rem;
                border-radius: 1rem;

                & .header{
                    text-align: center;

                    & .icon{
                        width: 15rem;
                    }

                    & .title{
                        font-size: 2rem;
                        color:$color_blue_normal;
                        padding-top: 2rem;
                    }

                    & .detail{
                        font-size: 1.4rem;
                        color:#888;
                    }
                }

                & form{
                    padding-top: 1rem;

                    & .form-field{
                        padding-top: 3rem;
                    }

                    & .chek-field{
                        padding-top: 2rem;
                        padding-left: .5rem;

                        & .session-remember{
                            font-size: 1.4rem;
                            color:#444;
                            font-weight: 600;

                            & label{
                                & a{
                                    font-size: 1.4rem;
                                    color: $color_blue_normal;

                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }

                    & .forgetpass-link{
                        text-align: center;
                        font-size: 1.4rem;
                        padding-top: 2rem;
                        

                        & a{
                            font-size: 1.4rem;
                            color: $color_blue_normal;
                            font-weight: 600;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            } 
            
        }

        
    }
}