
$color_blue_light  :rgb(83, 80, 248);
$color_blue_normal :rgb(4, 0, 255);
$color_blue_dark   :rgb(2, 0, 133);

$color_red_light: #ee6b6d;
$color_red_normal: #e3342f;
$color_red_dark: #9e4446;

$paragraphe_color_primary:#777;
$paragraphe_color_secondary:#666;
$paragraphe_color_thirtiary: rgba(0, 0, 0, 0.6);

$background_primary: rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6);


$white: #fff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$yellow: #ffed4a;
$orange: #f6993f;
$green: #38c172;
$teal: #4cd0b5;
$cyan: #6cb2eb;
$black: #000;

$bg_color_primary: rgb(30, 20, 168, 0.01);
$bg_color_normal:#f5f5f5;
$bg_color_secondary: #fdfdfd;

$base_font_size: "10px";
$base_line_height:"1.6";
$nunito_font: 'Nunito', sans-serif;
$lato_font: "Lato", sans-serif;
$popins_font: "Popins", sans-serif;


$max_width_primary : 160rem;
$max_width_normal : 136.6rem;
$max_width_secondary : 102.4rem;
$max_width_tertialy : 128rem;

$color_gradient: rgba(30, 20, 168, 1), #03bdef;
$color_gradient_red: #FF7345,  #FF3E7B;
$color_gradient_normal: rgba(30, 20, 168, 0.8), #0060df;
$color_gradient_double:rgba(30, 20, 168, 0.8) rgba(30, 20, 168, 0.8) #03bdef #03bdef;